.header {
    background: white;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: burlywood;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav {
    display: flex;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: blue;
}
